client/src/main/resources/META-INF/roman.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://mine.roman.com/schema/roman/service"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://mine.roman.com/schema/roman/service"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="id" type="xsd:string" />
                    <xsd:attribute name="interface" type="xsd:string" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>